@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

// ==========================================================================
// Constant
// ========================================================================== 
// -----------------------------------------------------------------
// font
// -----------------------------------------------------------------
$jp-font: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$yu-font: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$now-font: "ナウ-GM","游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$en-font: 'Yeseva One', cursive;

// -----------------------------------------------------------------
// color
// -----------------------------------------------------------------
$light-line: #DEE4E6;
$ttl: #000;
$bg-base: #fff;
$bg: #EFF5F7;
$bg_point: #F2E9E8;
$bg-gray: #fafafa;
$main-txt: #001E62;
$light-txt: #666666;
$white: #fff;
$color-iryo: #55B5C1;
$point: #D05210;
$point_alt: #F1C400;
$color-gray5: #E0E0E0;
$color-gray4: #BDBDBD;
$light-gray: #C1BBB6;


// -----------------------------------------------------------------
// constant
// -----------------------------------------------------------------
$header-height-sp: 40px;
$header-width-pc: 300px;
$def-link-height: 44px;
$tb-width: 560px;
$pc-width: 960px;

// -----------------------------------------------------------------
// weight
// -----------------------------------------------------------------
$weight-thin: 100;
$weight-extra-light: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-black: 900;
$weight-extra-black: 950;

// -----------------------------------------------------------------
// breakpoints
// -----------------------------------------------------------------
$breakpoints: (
  'sp2': 'screen and (max-width: 560px)',
  'sp3': 'screen and (max-width: 600px)',
  'sp': 'screen and (max-width: 768px)',
  'tb': 'screen and (max-width: 960px)',
  'pc': 'screen and (max-width: 1199px)',
  'pc2': 'screen and (max-width: 1279px)',
  'maxwidth': 'screen and (max-width: 1366px)',
  'min': 'screen and (max-width: 352px)',
  'minh': 'screen and (max-height: 680px) and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// -----------------------------------------------------------------
// function
// -----------------------------------------------------------------
// 縦幅が短い時の調整
$master-height-pc: 680px;
@function pxvhPC($target){
  @return ($target / $master-height-pc) * 100vh;
}

$master-width-pc: 1366px;
@function pxvwPC($target){
  @return ($target / $master-width-pc) * 100vw;
}

$master-width-pc2: 1280px;
@function pxvwPC2($target){
  @return ($target / $master-width-pc2) * 100vw;
}

$master-width-sp: 375px;
@function pxvwSP($target){
  @return ($target / $master-width-sp) * 100vw;
}

$baseFontSize: 16;
  @function rem($pixels) {
    @return $pixels / $baseFontSize * 1rem;
}

// ==========================================================================
// base
// ========================================================================== 
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  background-color: $bg;
  background-image: radial-gradient(#F9F9F9 0%, $bg 50%);
  background-attachment: fixed;  
  color: $main-txt;
  font-size: rem(16);
  font-family: $jp-font;
  font-weight: 300;
  font-style: normal;
  height: 100%;
  font-feature-settings: "palt";
  letter-spacing: .05em;
  box-sizing: border-box;
  &.-noscroll{
    
  }
}

body *{
  box-sizing: inherit;
}

a {
  cursor : pointer;
  //outline: 2px solid blue;  
}

a:not([class]) {
  color: $main-txt;
  &:visited{
    color: $main-txt;    
  }
}

img,svg {
  width: 100%;
  height: auto;
}

@keyframes fadebody{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// 文字選択時の色
::selection {
  background: rgba($color: #FFF593, $alpha: .5)
}
//Firefox
::-moz-selection {
//  background: 
}

// 
input[type="text"]:focus,
select:focus
{
  outline: solid 2px $point;
}

// 背景
#bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}