// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------
.c-top-title{
  font-size: rem(24);
  font-weight: 700;
  line-height: 1;
  padding: .625em 1.6em;
  position: relative;
  display: inline-block;
  &::before,
  &::after{
    content: '';
    display: block;
    position: absolute;
    width: .625em;
    height: 100%;
    top: 0;
    border: solid 1px $main-txt;
  }
  &::before{
    left: 0;
    border-right: none;
  }
  &::after{
    right: 0;
    border-left: none;
  }
}

.c-icon-pdf{
  display: inline-block;
  width: .96em;
  height: 1.125em;
  @include svg-icon-pdf("fff");
  background-size: 100% auto;
  transform: translate(0,.12em);
}

.c-icon-pin{
  display: inline-block;
  width: .71em;
  height: .95em;
  background-image: url(../img/icon_metro-pin.svg);
  background-size: 100% auto;
  transform: translate(0,.12em);
}

.c-btn{
  box-sizing: border-box;
  display: inline-block;
  border-radius: 10px;
  border: solid .125em $main-txt;
  background-color: $main-txt;
  line-height: 1;
  padding: .935em 2.375em;
  text-decoration: none;
  font-weight: 500;
  color: $white;
  &.-iryo{
    border: solid 2px $color-iryo;
    background-color: $color-iryo;
  }
  &.-point{
    border: solid 2px $point;
    background-color: $point;
  }  
}

.c-title{
  width: 455px;
  font-size: rem(22);
  font-weight: $weight-bold;
  color: $main-txt;
  line-height: 1;
  padding-top: 1.22em;  
  padding-left: 16px;
  padding-bottom: .727em;
  position: relative;
  &.-white{
    color: $white;
  }
  @include mq(sp){
    width: calc(100% + .45em);
    padding-top: .45em;  
    padding-bottom: .63em;  
    padding-left: 16px;    
  }
  &::after{
    width: 100%;
    height: 1px;
    position: absolute;
    left: -1.2em;
    bottom: 0;
    content: '';
    display: block;
    background-color: $main-txt;
    @include mq(sp){
      left: -11px;
    }  
  }
  &.-white::after{
    background-color: $white;
  }  
  &::before{
    width: 1px;
    height: 4.2em;
    content: '';
    display: block;
    background-color: $main-txt;
    position: absolute;
    left: 0;
    top: 0;
    @include mq(sp){
      height: calc(100% + 11px);
    }  
  }
  &.-white::before{
    background-color: $white;
  }

}

.c-toggle{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-toggle.-ismenu{
  .c-toggle__bar{
    &.-bar01{
      transform: translate(-50%,0) rotate(-45deg);
    }
    &.-bar02{
      opacity: 0;
      transform: translate(-50%,0) rotate(-45deg);
    }  
    &.-bar03{
      transform: translate(-50%,0) rotate(45deg);
    }  
  }  
}

.c-toggle__bar{
  height: 1px;
  width: 20px;
  background-color: $white;
  transition: transform 0.3s cubic-bezier(0.32, 0.1, 0, 1), opacity .3s;
  position: absolute;
  top: 50%;
  left: 50%;
  &.-bar01{
    transform: translate(-50%,-6px);
  }
  &.-bar02{
    transform: translate(-50%,0);    
  }
  &.-bar03{
    transform: translate(-50%,6px);    
  }
}

.c-btn-pagetop{
  display: block;
  width: 44px;
  height: 44px;
  background-color: $main-txt;
  border-radius: 50%;
  position: absolute;
  right: 24px;
  top: -44px - 24px;
  @include mq(sp){
    right: 20px;
  }
  @include svg-icon-pagetop("fff");
  background-size: 24px 11px;
  background-position: center 45%;
  background-repeat: no-repeat;
}

.c-head-title__wrap{
  display: flex;
  justify-content: flex-start;
  @include mq(sp){
    display: block;
  }
}

.c-head-title{
  font-family: $now-font;
  font-weight: $weight-medium;
  display: flex;
  justify-content: flex-start;
  @include mq(sp){
    justify-content: center;
  }
  &.-center{
    justify-content: center;
  }
}

.c-head-title + .c-head-title{
  margin-left: 2px;
  @include mq(sp){
    margin-left: 0;
    margin-top: 2px;
  }
}

.c-head-title__char{
  width: 50px;
  height: 50px;
  font-size: rem(40);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;  
  @include mq(sp){
    width: 38px;
    height: 38px;
    font-size: rem(30);  
  }
  &.-middle{
    width: 27px;
    height: 27px;
    font-size: rem(22);  
  }
  &.-small{
    width: 20px;
    height: 20px;
    font-size: rem(16);  
  }  
}

.c-head-title__char + .c-head-title__char{
  margin-left: 2px;
}

.c-head-title__char{
  &.-navy{
    border: solid 1px $main-txt;
    color: #fff;
    background-color: $main-txt;  
  }
  &.-point{
    border: solid 1px $point;
    color: #fff;
    background-color: $point;  
  }
  &.-iryo{
    border: solid 1px $color-iryo;
    color: #fff;
    background-color: $color-iryo;  
  }
  &.-navy-frame{
    color: $main-txt;
    background-color: transparent;
    border: solid 1px $main-txt;
  }
  &.-point-frame{
    color: $point;
    background-color: transparent;
    border: solid 1px $point;
  }
  &.-iryo-frame{
    color: $color-iryo;
    background-color: transparent;
    border: solid 1px $color-iryo;
  }
}

.c-news-tag{
  font-size: rem(12);
}

.c-news-tag__item{
  display: inline-block;
  text-align: center;
  border-radius: 999px;
  padding: .2em 1.08em .4em;
  line-height: 1.1;
  margin-right: .5em;
  &.-yellow{
    background: $point_alt;  
  }
  &.-iryo{
    background: $color-iryo;
    color: $white;
  }
}

.c-txtbox{
  text-align: left;
  background-color: $white;
  padding: 21px 21px;
  border-radius: 10px;
  @include mq(sp){
    padding: 19px 15px;
  }
}


.c-description__note{
  font-size: rem(14);
  color: #666666;
  position: relative;
  list-style: none;
  &.-kome{
    padding-left: 1.1em;
    &::before{
      content: '※';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }  
  }  
}

.c-hiyo-title{
  background-color: $point;
  color: $white;
  width: 7em;
  padding-left: .5em;
  font-weight: $weight-medium;
  margin-right: 1em;
}

.c-kekka-title{
  background-color: $main-txt;
  color: $white;
  width: 11em;
  padding-left: .5em;
  font-weight: $weight-medium;
  margin-right: 1em;
}

.c-list__item{
  list-style: none;
  padding-left: 1em;
  position: relative;
  margin-bottom: .6em;
  &::before{
    content: '';
    display: block;
    position: absolute;
    left: .13em;
    top: .52em;
    width: .625em;
    height: .625em;
    border-radius: 50%;
    background-color: $main-txt;
  }
}