// -----------------------------------------------------------------
// plugin
// -----------------------------------------------------------------
.page-numbers {
  position: relative;
  list-style: none;
  font-size: rem(18);
  font-weight: $weight-medium;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &.current {
    color: $main-txt;
    background-color: $point_alt;
  }

}

a.page-numbers{
  transition: .1s transform, .1s background-color, .1s border-color;
  &:hover{
    background-color: #032f8e;
    border-color: #032f8e;
    transform: scale(1.06);
  }  
}

a.page-numbers,
span.page-numbers {
  width: 44px;
  height: 44px;
  display: block;
  text-decoration: none;
  border-radius: 50%;
  background-color: $main-txt;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  margin-right: .25em;
  margin-left: .25em;
  margin-bottom: .5em;
}

.c-pagination-icon {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 14px 25px;
  background-repeat: no-repeat;

  &.-next {
    @include svg-icon-pagenext("fff");
    background-position: 55% center;
  }

  &.-prev {
    @include svg-icon-pagenext("fff");
    transform: rotate(-180deg);
    background-position: 55% center;
  }

  &.-last {
    @include svg-icon-pagelast("fff");
    background-position: 55% center;
  }

  &.-first {
    @include svg-icon-pagelast("fff");
    transform: rotate(-180deg);
    background-position: 55% center;
  }
}

.modal {
  display: none;
  color: $main-txt;
}

.fancybox__slide {
  padding-left: 60px;
  padding-right: 60px;

  @include mq(sp) {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.fancybox__thumb {
  width: 80px;
  height: 80px;
}

.fancybox__thumbs .carousel__slide {
  width: 80px;
  height: 80px;
  box-sizing: border-box;

  @include mq(sp) {
    display: none;
  }
}

.carousel__button {
  color: #fff;

  @include mq(sp) {
    color: #000;
  }

  svg {
    filter: none;

    width: 100px;
    height: 100px;

    @include mq(sp) {
      width: 30px;
      height: 30px;
    }
  }
}

.carousel__button.is-next {
  @include mq(sp) {
    top: 200px;
  }
}

.carousel__button.is-prev {
  @include mq(sp) {
    top: 200px;
  }
}

.fancybox__content>.carousel__button.is-close {
  transition: .15s transform;
  top: 25px;
  right: 23px;
  color: $main-txt;

  &:hover{
    transform: scale(1.08);
  }

  svg {
    display: none;
    filter: none;
  }

  &::before {
    content: '';
    width: 33px;
    height: 38px;
    display: block;
    background-image: url(../img/close_modal.svg);
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.fancybox__thumbs{
  padding-top: 6px;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
  border-color: $point_alt;
}