// -----------------------------------------------------------------
// Project
// -----------------------------------------------------------------

.p-header {
  opacity: 0;
  transform: translate(-20px, 0);
  text-align: -webkit-center;

  @include mq(pc2) {
    text-align: left;
  }

  @include mq(pc) {
    padding-top: 120px;
    transition: transform 0.6s cubic-bezier(0.32, 0.1, 0, 1), opacity .4s;
    right: 0;
    transform: translate(120%, 0);
    opacity: 0;
    width: 400px;
    height: 100%;
    background-color: $main-txt;
    visibility: hidden;
  }

  @include mq(sp2) {
    padding-top: 100px;
    width: 100%;
    visibility: hidden;
  }
}

.p-header.-ismenu {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.p-nav {
  @include mq(pc) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) and (max-height: 650px) {
    overflow: auto;
    height: 79vh;
  }
}

.p-nav__bg {
  transition: opacity 0.4s;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 90;
  opacity: 0;
  pointer-events: none;

  &.-open {
    opacity: .8;
  }
}



.p-header__logo {
  padding: 1px; // outlineの左側が見切れるのでその対策
}

.p-header__logo__link {
  display: block;
  width: 100%;
}

.p-header__logo__img {
  width: 100%;
}

.p-nav {
  width: 262px;
  font-family: $now-font;
}

.p-nav__list__item {
  //width: 240px;
  width: 262px;
  border-radius: 10px;
  font-size: rem(16);
  background-color: $white;
  transition: transform 0.25s;
  position: relative;

  @include mq(minh) {
    // font-size: pxvhPC(16px);
  }

  &.-line {
    overflow: hidden;
  }

  &.-line::before {
    transition: transform 0.15s, background-color .15s;
    content: '';
    display: block;
    width: 12px;
    height: 100%;
    background-color: #2C4680;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-20px, 0);
  }

  &.-line.-point::before {
    background-color: $point;
  }

  &.-line.-iryo::before {
    background-color: $color-iryo;
  }

  &:hover {
    transform: translateX(10px);

    &.-balloon {
      @include mq(pc) {
        transform: translateX(-10px);
      }
    }

    &.-line::before {
      transform: translate(0, 0);
      //background-color: #03349d;
    }
  }

  .p-nav__list__item__horn {
    transition: transform .12s ease-out;
    position: absolute;
    right: -12px;
    top: calc(50% - 6px);
    transform: translateX(-100%);
    transform-origin: 0 50%;
    width: 0;
    height: 0;
    border-left: 14px solid $white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;

    @include mq(pc) {
      opacity: 0;
    }
  }

  &.-is-active {
    transform: translate(10px, 0);

    &.-line::before {
      transform: translate(0, 0);
    }

    &.-line.-point::before {
      background-color: $point;
    }
  }
}

.p-nav__list__item+.p-nav__list__item {
  margin-top: 10px;

  @include mq(minh) {
    margin-top: pxvhPC(10px);
  }
}

.p-nav__list__item:hover .p-nav__list__item__horn {
  transform: translateX(0) !important;

  @include mq(pc) {
    transform: translateX(-12px) !important;
  }
}

.p-nav__list__item__link {
  position: relative;
  color: $main-txt;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  line-height: 1;
  padding-right: .625em;
  padding-left: 1em;
  padding-top: .625em;
  padding-bottom: .625em;
  margin: .25em; // outlineがhiddenで隠れないように対策

  @include mq(minh) {
    padding-top: pxvhPC(10px);
    padding-bottom: pxvhPC(10px);
  }

  &.-horn {
    padding-right: .875em;
    padding-left: 1.25em;
    padding-top: .875em;
    padding-bottom: .875em;
  }
}

.p-nav__list__item__link__txt {
  white-space: nowrap
}

.p-nav__list__item__link__day {
  display: flex;
  align-items: center;
  padding-left: 2em;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    display: block;
    left: 6px;
    width: 20px;
    height: 1px;
    background-color: #CCCCCC;
  }
}

.p-nav__list__item__link__day__week {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: rem(11);
  width: 1.8em;
  height: 1.8em;

  &.-tue {
    background-color: #F8E9D4;
  }

  &.-thu {
    background-color: #DCF7C1;
  }

  &.-wed {
    background-color: #E7F3F7;
  }
}

.p-nav__list__item__link__day__week__wrap {
  display: flex;
}

.p-nav__list__item__link__day__week+.p-nav__list__item__link__day__week {
  margin-left: 2px;
}

.p-nav__list__item__link__day__time {
  font-size: rem(11);
  font-weight: 500;
  margin-left: 3px;
}

.p-nav__sublist__item {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.p-nav__sublist__item+.p-nav__sublist__item {
  margin-top: 10px;
}

.p-nav__sublist__item__link {
  border-radius: 999px;
  background-color: $color-iryo;
  color: $white;
  text-decoration: none;
  display: block;
  line-height: 1;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1.07em;
  padding-bottom: 1.07em;
  text-align: center;
  position: relative;
  transition: transform .25s ease-out, background-color .25s ease-out, border-color .25s ease-out;

  &::after {
    transition: transform .12s ease-out, background-color .25s ease-out, border-color .25s ease-out;
    content: '';
    position: absolute;
    right: -12px;
    top: calc(50% - 6px);
    transform: translateX(-100%);
    transform-origin: 0 50%;
    width: 0;
    height: 0;
    border-left: 14px solid $color-iryo;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;

    @include mq(pc) {
      transform: translateX(0);
      right: initial;
      left: 0;
      border-left: none;
      border-right: 14px solid $color-iryo;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }
  }

  &:hover {
    transform: translateX(10px);
    background-color: #60C6D3;
    border-color: #60C6D3;

    &::after {
      border-left: 14px solid #60C6D3;
      transform: translateX(0);

      @include mq(pc) {
        border-left: none;
        border-right: 14px solid #60C6D3;
      }
    }
  }

  @include mq(pc) {
    &:hover {
      transform: translateX(-10px);

      &::after {
        transform: translateX(-87%);
      }
    }
  }

  &.-is-active {
    transform: translateX(10px);

    &::after {
      transform: translateX(0);
    }
  }

  @include mq(pc) {
    &.-is-active {
      transform: translateX(-10px);

      &::after {
        transform: translateX(-87%);
      }
    }
  }

}

.p-main {
  line-height: 1.675;
}

.p-kv__inner {
  display: flex;
  justify-content: flex-end;
  padding-top: 76px;

  @include mq(minh) {
    padding-top: pxvhPC(46px);
  }

  @include mq(pc2) {
    padding-left: 40px;
  }

  @include mq(pc) {
    padding-left: 0;
    justify-content: center;
    padding-top: 20px;
  }

  @include mq(tb) {}

  @include mq(sp) {
    display: block;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
    width: 100%;
  }
}

.p-kv__inner__main {
  position: relative;
  display: flex;

  @include mq(tb) {
    display: block;
    margin-right: 92px;
  }

  @include mq(sp) {
    margin-left: auto;
    margin-right: auto;
    width: 335px;
  }
}

.p-kv__inner__photo {
  padding-top: 34px;
  width: 312px;
  text-align: center;

  @include mq(pc2) {
    padding-top: pxvwPC2(34px);
    width: pxvwPC2(312px);
  }

  @include mq(pc) {
    padding-top: 34px;
    width: 312px;
  }

  @include mq(tb) {
    padding-top: 24px;
    width: 265px;
  }
}

.p-kv__inner__photo__main {}

.p-kv__inner__photo__sub {
  width: 236px;
  margin-top: -84px;

  @include mq(pc2) {
    width: pxvwPC2(236px);
    margin-top: pxvwPC2(-84px);
  }

  @include mq(pc) {
    width: 236px;
    margin-top: -84px;
  }

  @include mq(tb) {
    width: 196px;
    margin-top: -69px;
  }
}

.p-kv__inner__title {
  width: 224px;
  padding-left: 50px;
  padding-right: 40px;
  display: flex;
  flex-direction: row-reverse;

  @include mq(pc2) {
    width: pxvwPC2(224px);
    padding-left: pxvwPC2(50px);
    padding-right: pxvwPC2(40px);
  }

  @include mq(pc) {
    width: 224px;
    padding-left: 50px;
    padding-right: 40px;
  }

  @include mq(tb) {
    position: absolute;
    top: 0;
    right: -4.5em;
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }

  @include mq(sp) {
    right: 0;
  }
}

.p-kv__inner__description {
  width: 367px;

  @include mq(sp) {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-kv__inner__title__char {
  font-family: $now-font;
  overflow: hidden;
  width: 66px;
  height: 66px;
  display: block;
  font-size: rem(54);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(pc2) {
    width: pxvwPC2(66px);
    height: pxvwPC2(66px);
    font-size: pxvwPC2(54px);
  }

  @include mq(pc) {
    width: 66px;
    height: 66px;
    font-size: rem(54);
  }

  @include mq(tb) {
    font-size: rem(36);
    width: 45px;
    height: 45px;
  }

  &.-navy {
    border: solid 1px $main-txt;
    color: $white;
    background-color: $main-txt;
  }

  &.-white {
    color: $main-txt;
    background-color: $bg;
    border: solid 1px $main-txt;

    @include mq(tb) {
      background-color: rgba($color: #fff, $alpha: .5);
    }
  }
}

.p-kv__inner__title__char__inner {}

.p-kv__inner__title__char+.p-kv__inner__title__char {
  margin-top: 2px;
}

.p-kv__inner__title__line1 {
  margin-left: 2px;
}

.p-kv__inner__title__line2 {
  padding-top: 66px + 2px;

  @include mq(tb) {
    padding-top: 45px + 2px;
  }
}

.p-kv__inner__description__txt {
  font-family: $now-font;
  font-size: rem(18);
  margin-top: 44px;
  line-height: 1.77;
  text-align: justify;

  @include mq(pc2) {
    font-size: pxvwPC2(18px);
    margin-top: pxvwPC2(44px);
  }

  @include mq(pc) {
    font-size: rem(18);
    margin-top: 44px;
  }

  @include mq(tb) {
    margin-top: 24px;
    font-size: rem(16);
  }

  @include mq(sp) {
    margin-top: 32px;
    padding-right: .5em;
  }
}

.p-kv__inner__description__illust__wrap {
  position: relative;
}

.p-kv__inner__description__illust__light {
  mix-blend-mode: multiply;
  position: absolute;
  display: block;
  left: 130px;
  top: 123px;
  transform: translate(-50%, -50%) scale(1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: .55;
  background: radial-gradient(#F4F1AD, transparent);
  animation-name: light-anime;
  animation-duration: 3.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;

  @include mq(pc2) {
    left: pxvwPC2(130px);
    top: pxvwPC2(123px);
    width: pxvwPC2(40px);
    height: pxvwPC2(40px);
  }

  @include mq(pc) {
    left: 130px;
    top: 123px;
    width: 40px;
    height: 40px;
  }
}

@keyframes light-anime {
  0% {
    opacity: .55;
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    opacity: .78;
    transform: translate(-50%, -50%) scale(1.65);
  }

  100% {
    opacity: .55;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes light-out {
  0% {
    opacity: .55;
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    opacity: .33;
    transform: translate(-50%, -50%) scale(.5);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}

.p-cursor {
  transition: .3s opacity;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: .55;
  background: radial-gradient(#FFF593, rgba(255, 255, 255, 0) 60%);
  animation-name: light-out;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  pointer-events: none;

  @include mq(tb) {
    display: none;
  }
}

.p-news-list {
  list-style: none;
}

.p-news-list__item {}

.p-news-list__item+.p-news-list__item {
  margin-top: 20px;
}

.p-news-list__item__link {
  border-radius: 10px;

  background-color: $white;
  text-decoration: none;
  color: $main-txt;
  display: block;
  padding: .9em 1.56em 1.25em 1.875em;
  width: 100%;
  transition: .2s color, .2s transform;

  @include mq(sp) {
    padding: 20px 15px;
  }

  &:visited {
    color: $main-txt;
  }

  &:hover {
    transform: scale(1.02);

    // color: #073db0;
    .c-news-tag__item {

      &.-yellow {
        background-color: #fcce00;
        border-color: #fcce00;
      }

      &.-iryo {
        background-color: #60C6D3;
        border-color: #60C6D3;
      }
    }
  }
}

.p-news-list__item__link.-notag {
  display: flex;
  align-items: flex-start;

  @include mq(sp) {
    display: block;
  }

  .p-news-list__item__header {
    margin-bottom: 0;
  }

  .p-news-list__item__time {}

  .p-news-list__item__main__title {
    padding-left: 0;
  }

}

.p-news-list__item__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: .3em;
}

.p-news-list__item__inner {
  @include mq(sp) {
    display: block;
    position: relative;
  }
}

.p-news-list__item__time {
  line-height: 1.75;
  width: 9em;
  text-decoration: none;

  @include mq(sp) {
    width: auto;
    margin-right: .4em;
    margin-bottom: .1em;
  }
}

.p-news-list__item__main__tag {

  @include mq(sp) {}
}

.p-news-list__item__main__title {
  padding-left: 9em;
  font-weight: 400;
  line-height: 1.75;
  text-decoration: underline;

  @include mq(sp) {
    padding-left: 0;
  }
}

.p-info-list {
  text-align: justify;
  list-style: none;
}

.p-info-list__item {}

.p-info-list__item+.p-info-list__item {
  margin-top: 10px;
}

.p-info-list__item__link {
  display: block;
  background-color: $white;
  border-radius: 10px;
  padding: 30px 25px;
  transition: .2s transform;

  @include mq(sp) {
    padding: 30px 15px;
  }

  &:hover {
    transform: scale(1.02);

    .p-info-list__item__title {
      opacity: .75;
    }
  }
}

.p-footer {
  padding-top: 86px;
  background-color: $main-txt;
  color: $white;
  position: relative;
}

.p-footer__contents__tel__link {
  text-decoration: none;
  color: $white;
}

.p-header-sp {
  opacity: 0;

  @include mq(pc) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @include mq(sp) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.p-header-sp__logo__link {
  display: block;

  @include mq(pc) {
    width: 370px;
  }

  @include mq(sp) {
    width: 265px;
  }
}

.p-header-sp__logo__img {
  @include mq(pc) {
    width: 100%;
    height: auto;
  }
}

.p-header-sp__btn {
  z-index: 100;
  background-color: $main-txt;
  border-radius: 10px;
  width: 44px;
  height: 44px;
  position: fixed;
  right: 32px;
  top: 32px;
  transition: background-color .1s ease-out, border-color .1s ease-out, transform 0.1s ease-out;

  @include mq(sp) {
    right: 20px;
    top: 25px;
  }

  &:hover {
    background-color: #032f8e;
    border-color: #032f8e;
    transform: scale(1.05);
  }
}

.p-news-dt__tag__item {
  margin-bottom: 6px;
}

.p-news-dt__main-title {
  font-size: rem(36);
  line-height: 1.4;
  font-weight: $weight-medium;

  @include mq(sp) {
    font-size: rem(24);
  }
}

.p-news-dt__body {
  text-align: justify;
  border-radius: 10px;
  background-color: $white;
  padding: 45px 38px 66px;

  @include mq(sp) {
    padding: 24px 14px 40px;
  }
}

.p-news-dt__body {
  p {
    line-height: 1.6875;
    margin-bottom: 1.6em;

    @include mq(sp) {
      margin-bottom: 1.2em;
    }
  }

  img {
    margin-top: .4em;
    margin-bottom: 1.6em;

    @include mq(sp) {
      margin-top: .2em;
      margin-bottom: .6em;
    }
  }

  h2 {
    font-size: rem(24);
    font-weight: $weight-medium;
    line-height: 1.4;
    margin-bottom: .8em;

    @include mq(sp) {
      font-size: rem(20);
    }
  }

  strong {
    color: $point;
    font-weight: $weight-medium;
  }

  hr {
    border: 1px solid $main-txt;
    margin: 1.5em 0;
    border-right: none;
    border-left: none;
    border-bottom: none;
  }

  ul {
    margin-bottom: 1.5em;
  }

  li {
    list-style: none;
    position: relative;
    padding-left: 1em;
    line-height: 1.6875;
  }

  li::before {
    content: "";
    display: inline-block;
    width: .625em;
    height: .625em;
    border-radius: 50%;
    background-color: $main-txt;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .wp-block-table table {
    width: 100%;
    white-space: nowrap;
  }

  table td:first-child {
    white-space: normal;
  }

  table td:last-child {
    white-space: normal;
  }

  .wp-block-table table tr td:nth-of-type(1) {
    min-width: 7em;

    @include mq(sp) {
      min-width: 5.5em;
    }
  }

  .wp-block-table {
    overflow: auto;
    margin-right: -14px;
    padding-right: 14px;
    padding-bottom: 1em;
  }

  .wp-block-table::-webkit-scrollbar {
    height: 5px;
  }

  .wp-block-table::-webkit-scrollbar-track {
    background: #F1F1F1;
  }

  .wp-block-table::-webkit-scrollbar-thumb {
    background: #BCBCBC;
  }

  th {
    background-color: $bg;
    text-align: left;
    font-weight: $weight-medium;
  }
}

.p-news-dt__pager {
  position: relative;
  display: flex;
  align-items: center;

  @include mq(sp2) {
    flex-direction: column;
  }
}

.p-news-dt__pager__link__wrap {
  display: block;
  position: relative;
  width: 50%;
  max-width: 50%;
  transition: .15s transform;

  &:hover {
    transform: scale(1.02)
  }

  @include mq(sp2) {
    width: 100%;
    max-width: 100%;
  }

  &.-next {
    flex: 1;
    margin-right: auto;

    @include mq(sp2) {
      margin-bottom: 20px;
    }
  }

  &.-prev {
    flex: 1;
    text-align: right;
    margin-left: auto;
  }

}

.p-news-dt__pager__link {
  padding-top: 1.2em;
  padding-bottom: 1.1em;
  position: relative;
  display: block;
  width: 88%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  text-decoration: none;
  color: $main-txt;

  &::before {
    position: absolute;
    top: 50%;
    content: '';
    display: block;
    width: 14px;
    height: 25px;
    @include svg-icon-pagenext("001E62");
    background-size: 14px 25px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &.-next {
    padding-left: 3em;
    padding-right: 1.75em;
  }

  &.-prev {
    padding-left: 1.75em;
    padding-right: 3em;
    margin-left: auto;
  }

  &.-next::before {
    left: 1em;
    transform: translate(0, -50%) rotate(-180deg);
  }

  &.-prev::before {
    right: 1em;
    transform: translate(0, -50%);
  }
}

.p-news-dt__pager__date {
  display: block;
  font-size: rem(13);
}

.p-news-dt__pager__title {
  line-height: 1.5;
  text-decoration: underline;
}

.p-news-dt__pager__date__wrap {
  margin-bottom: .3em;
}

.p-info-list__item__date {
  color: $point;
  text-align: right;
  font-size: rem(14);
  margin-bottom: 1.5em;
}

.p-info-list__item__txt {
  font-size: rem(14);
  color: $light-txt;
}

.p-info-list__item__btn {
  i {
    margin-right: .8em;
    transform: translate(0, 15%);
  }
}

.p-info-list__item__btn__wrap {
  margin-top: 25px;
  text-align: right;
}

.p-about-list__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;

  &:nth-child(2n+1) {
    flex-direction: row-reverse;
  }

  &:nth-child(2n) {
    flex-direction: row;
  }

  @include mq(sp) {
    &:nth-child(2n+1) {
      flex-direction: column;
    }

    &:nth-child(2n) {
      flex-direction: column;
    }
  }
}

.p-about-list__item__info {
  text-align: justify;
  background-color: $white;
  padding: 1.12em;
  border-radius: 10px;
  width: 55%;

  @include mq(sp) {
    width: 100%;
    padding: 1.12em 15px;
  }
}

.p-about-list__item__illust {
  position: relative;
  width: calc(100% - 55%);

  @include mq(sp) {
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
  }
}

.p-about-list__item__illust__img {
  &.-img01 {
    width: 79%;
    margin-left: 6.9%;

    @include mq(sp) {
      max-width: 206px;
      width: 75%;
      margin-left: 0;
    }
  }

  &.-img02 {
    width: 80%;
    margin-left: 9.4%;

    @include mq(sp) {
      max-width: 207px;
      width: 61.4%;
      margin-left: 0;
    }
  }
}

.p-about-list__item+.p-about-list__item {
  margin-top: 54px;

  @include mq(sp) {
    margin-top: 27px;
  }
}

.p-about-main__description+.p-about-main__description {
  margin-top: 1.4em;
}

.p-about-main__description__note {
  font-size: rem(13);
}

.p-kensa-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include mq(sp2) {
    flex-direction: column;
  }
}

.p-kensa-list__item {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  background-color: $white;
  padding: 1.12em;
  border-radius: 10px;
  padding: 39px 27px 29px;
  list-style: none;
  width: 47%;

  @include mq(sp2) {
    padding: 39px 15px 35px;
    width: 100%;
  }
}

.p-kensa-list__item+.p-kensa-list__item {
  @include mq(sp2) {
    margin-top: 20px;
  }
}

.p-kensa-list__item__title {
  margin-bottom: 11px;
}

.p-kensa-list__item__illust {
  text-align: center;
}

.p-kensa-list__item__illust__img {
  &.-img01 {
    width: 41.4%;
  }

  &.-img02 {
    width: 58.3%;
  }

  @include mq(sp2) {
    &.-img01 {
      max-width: 126px;
    }

    &.-img02 {
      max-width: 178px;
    }
  }
}

.p-kensa-list__item__info {
  text-align: justify;
  margin-bottom: 16px;
}

.p-kensa-list__item__info>* {
  flex-shrink: 0;
}

.p-kensa-list__item__btn {
  margin-top: auto;
}

.p-about-main__description {
  &.-desc01 {
    text-align: right;
  }

  &.-desc02 {
    text-align: center;
  }

  &.-desc03 {
    text-align: right;
  }

  &.-desc04 {
    text-align: center;
  }
}

.p-about-main__description__link {
  color: $point;

  &:visited {
    color: $point;
  }
}

.p-about-main__description__img {
  height: auto;
  position: absolute;

  @include mq(sp) {
    position: relative;
  }

  &.-img01 {
    width: 252px;
    right: -201px;
    top: -142px;

    @include mq(sp) {
      right: inherit;
      top: inherit;
      margin-top: -22px;
    }
  }

  &.-img02 {
    width: 214px;
    right: -248px;
    top: -102px;

    @include mq(tb) {
      right: -187px;
      top: -102px;
    }

    @include mq(sp) {
      right: inherit;
      top: inherit;
      margin-top: -20px;
    }
  }

  &.-img03 {
    width: 205px;
    right: -169px;
    top: -57px;

    @include mq(sp) {
      right: inherit;
      top: inherit;
      margin-top: -28px;
      margin-right: 2px;
    }
  }

  &.-img04 {
    width: 236px;
    right: -257px;
    top: 0;

    @include mq(tb) {
      // right: -257px;
      // top: 0;
    }

    @include mq(sp) {
      width: 220px;
      right: inherit;
      top: inherit;
      margin-top: -16px;
    }
  }

}


.p-about-main__photo__img {
  position: absolute;

  @include mq(sp) {
    position: relative;
  }

  &.-img01 {
    width: 347px;
    height: auto;
    right: -50px;
    top: 0;

    @include mq(sp) {
      display: block;
      margin-right: auto;
      right: inherit;
      top: inherit;
      margin-bottom: 22px;
      width: 280px;
      margin-left: 40px;
    }

    @include mq(sp2) {
      width: 250px;
      margin-left: 0;
    }
  }

  &.-img02 {
    width: 256px;
    height: auto;
    left: 50px;
    bottom: 0;

    @include mq(sp) {
      display: block;
      margin-left: auto;
      left: inherit;
      bottom: inherit;
      width: 224px;
      margin-right: 40px;
    }

    @include mq(sp2) {
      width: 200px;
      margin-right: 0;
    }
  }
}

.p-hoken-sec__description__title {
  font-size: rem(18);
  margin-bottom: .9em;
}

.p-hoken-sec__description__subtitle {
  font-size: rem(17);
  margin-bottom: .4em;
}

.p-hoken-sec__description__title__hoken,
.p-hoken-sec__description__title__jihi {
  text-decoration: underline;
  margin-bottom: 1em;
}

.p-hoken-sec__description__title__jihi {
  margin-top: 2em;
}

.p-hoken-sec__hiyo {
  display: flex;
  align-items: flex-start;

  @include mq(sp) {
    display: block;
  }
}

.p-hoken-sec__hiyo__txt__top {
  margin-top: -.5em;
}

.p-hoken-sec__hiyo__txt__top {
  font-size: rem(18);
  margin-bottom: .4em;
}

.p-jihi-sec__description__hiyo,
.p-jihi-sec__description__kekka {
  margin-top: .8em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @include mq(sp) {
    display: block;
  }
}

.p-jihi-sec__description__hiyo {
  margin-top: .8em;
}

.p-jihi-sec__description__kekka {
  margin-top: .2em;
}


.p-jihi-sec__description__hiyo__txt,
.p-jihi-sec__description__kekka__txt {
  margin-top: -.5em;
}

.p-hoken-sec__hiyo__title {
  @include mq(sp) {
    margin-bottom: .6em;
  }
}

.p-hoken-sec__description__hiyo__txt__top__price {
  font-size: rem(24);
  font-weight: $weight-bold;
  margin-left: .2em;
  margin-right: .2em;
}

.p-hoken-sec__hiyo__txt__top__price {
  font-size: rem(24);
  font-weight: $weight-bold;
  margin-left: .2em;
  margin-right: .2em;
}

.p-jihi-sec__description__hiyo__title,
.p-jihi-sec__description__kekka__title {
  @include mq(sp) {
    margin-bottom: .3em;
  }
}

.p-jihi-sec__description__hiyo__num,
.p-jihi-sec__description__kekka__num {
  font-size: rem(24);
  font-weight: $weight-bold;
  margin-left: .2em;
  margin-right: .2em;
}

.p-jihi-sec__description__hiyo__note {
  font-size: rem(13);
  margin-left: .8em;

  &.-last {
    margin-left: 0;
  }
}

.p-jihi-sec__description__hiyo__price {
  font-size: rem(24);
  font-weight: $weight-bold;
  margin-right: .2em;
}

.p-hoken-sec__description__sinryojikan {
  margin-top: 1.5em;
}

.p-hoken-sec__hiyo__txt__list {
  list-style: none;
  color: $point;
  margin-bottom: .7em;
}

.p-hoken-sec__hiyo__txt__note {
  margin-top: .5em;
}

.p-hoken-sec__hiyo__txt__note-list {
  text-align: justify;
}

.p-hoken-sec__description__note {
  margin-top: .5em;
}

.p-hoken-sec__taisyo__list {
  text-align: justify;
  margin-bottom: .8em;
}

.p-hoken-sec__description__sinryojikan {
  color: #666666;
  font-size: rem(14);
}

.p-hoken-sec__description__sinryojikan__title {
  font-weight: $weight-medium;
}

.p-hoken-sec__description__sinryojikan__list__item {
  list-style: none;
  position: relative;
  padding-left: 1em;

  &::before {
    content: '・';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.p-hoken-sec__description {
  position: relative;
}

.p-hoken-sec__description.-desc03-01 {
  width: 498px;

  @include mq(sp) {
    width: 100%;
  }
}

.p-hoken-sec__description.-desc03-02 {
  @include mq(sp) {
    padding-bottom: 184px;
  }
}


.p-hoken-sec__description.-desc03-04 {
  padding-bottom: 90px;

  @include mq(sp) {
    padding-bottom: 184px;
  }
}

.p-hoken-sec__description__txt+.p-hoken-sec__description__txt {
  margin-top: 1em;
}

.p-hoken-sec__description__img.-img01 {
  position: absolute;
  width: 190px;
  height: auto;
  top: 14px;
  right: -110px;
  z-index: 1;

  @include mq(tb) {
    top: 47px;
    right: -48px;
  }

  @include mq(sp) {
    position: relative;
    top: inherit;
    right: inherit;
    display: block;
    margin-left: auto;
    margin-right: 16px;
    width: 154px;
  }
}

.p-jihi-sec__description__img.-img01 {
  position: absolute;
  width: 285px;
  height: auto;
  top: -5px;
  right: -269px;
  z-index: 1;

  @include mq(tb) {
    right: -193px;
  }

  @include mq(sp) {
    position: relative;
    top: inherit;
    right: inherit;
    display: block;
    margin-left: auto;
    margin-right: 16px;
    width: 227px;
  }
}

.p-hoken-sec__description__img.-img02 {
  position: absolute;
  width: 200px;
  height: auto;
  right: -33px;
  top: -140px;
  z-index: 1;

  @include mq(tb) {
    right: -18px;
  }

  @include mq(sp) {
    top: inherit;
    bottom: 0;
    right: 0;
  }
}

.p-hoken-sec__description__img.-img03 {
  position: absolute;
  width: 200px;
  height: auto;
  right: 25px;
  bottom: 0;
  z-index: 1;

  @include mq(sp) {
    top: inherit;
    bottom: 0;
    right: 0;
  }
}

.p-hoken-sec__description__note.-desc04 {
  width: 425px;

  @include mq(sp) {
    width: 100%;
  }
}

.p-hoken-sec__tel {
  text-decoration: none;
  color: $main-txt;

  &.-point {
    color: $point;
  }
}

.p-hoken-sec__link {
  color: $main-txt;
  text-decoration: underline;
}

.l-hoken-sec.-sec02 .p-hoken-sec__intro__txt {
  padding-left: 1.1em;
}

.l-hoken-sec.-sec02 .p-hoken-sec__intro__txt::before {
  content: "※";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}


.p-hoken-sec__intro__txt {
  position: relative;
  text-align: justify;
}

.p-hoken-sec__intro__btn {
  padding: .7em 2em;
}

.p-hoken-sec__intro__btn i {
  margin-right: 0.5em;
  transform: translate(0, 15%);
}

.p-hoken-sec__intro__btn span {
  font-size: rem(14);
}

.p-info-list__item__link {
  color: $main-txt;
}

.p-info-list__item__title {
  transition: .2s opacity;
  padding-left: 40px;
  position: relative;
  font-size: rem(18);
  font-weight: $weight-bold;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 26px;
    height: 30px;
    @include svg-icon-pdf("333");
    background-size: 100% auto;
    transform: translate(0, 0);
  }
}

.p-rinsyo-description__img {
  width: 236px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-top: 6px;
  margin-right: 16px;
}

.p-doctor-sec__list {
  text-align: justify;
  display: flex;
  flex-wrap: wrap;

  @include mq(sp) {
    flex-direction: column;
  }
}

.p-doctor-sec__list__item {
  width: calc(33.3333% - 14px);
  list-style: none;
  margin-left: 20px;
  margin-bottom: 30px;

  &:nth-child(3n+1) {
    margin-left: 0;
  }

  @include mq(sp) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 16px;
  }
}

.p-doctor-sec__list__item__link {
  transition: .25s transform;
  cursor: pointer;
  text-decoration: none;
  display: block;
  color: $main-txt;
  background-color: $white;
  border-radius: 10px;
  padding: 22px 22px 25px;
  width: 100%;
  height: 100%;

  @include mq(sp) {
    display: flex;
    padding: 15px;
  }

  &:hover {
    transform: scale(1.02);

    .p-doctor-sec__list__item__img {
      opacity: .84;
    }
  }
}

.p-doctor-sec__list__item__img {
  transition: .25s opacity;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  display: block;
  margin-bottom: 10px;

  @include mq(sp) {
    width: 100px;
    margin-bottom: 0;
  }
}

.p-doctor-sec__list__item__info {
  @include mq(sp) {
    padding-left: 15px;
  }
}

.p-doctor-sec__list__item__info__position {
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: .3em;
}

.p-doctor-sec__list__item__info__name {
  font-size: 20px;
  font-weight: $weight-medium;
  line-height: 1.4;
}

.p-doctor-sec__list__item__info__kana {
  font-size: 14px;
  color: #BBB;
  line-height: 1.4;
  margin-bottom: .7em;

  @include mq(sp) {
    margin-bottom: .3em;
  }
}

.p-doctor-sec__list__item__info__field {
  line-height: 1.5;
  color: $point;
  list-style: none;
  font-size: 14px;
}

.p-doctor-sec__list__item__info__field__item {
  display: inline-block;
}

.p-doctor-sec__list__item__info__field__item::after {
  content: '、';
}

.p-doctor-sec__list__item__info__field__item:last-child::after {
  content: '';
}

.p-staff-sec__list {
  text-align: justify;
  background: $white;
  border-radius: 10px;
  padding: 45px 58px 14px;
  display: flex;
  flex-wrap: wrap;

  @include mq(sp) {
    flex-direction: column;
    margin-left: 0;
    padding: 32px 30px 20px;
  }
}

.p-staff-sec__list__item {
  list-style: none;
  margin-bottom: 36px;
  width: 50%;
  padding-right: 1em;

  @include mq(sp) {
    width: 100%;
    margin-bottom: 30px;
    padding-right: 0;
  }
}

.p-staff-sec__list__item__info__position {
  font-size: 14px;
  line-height: 1.5;
}

.p-staff-sec__list__item__info__name {
  font-weight: 500;
  font-size: 20px;
  display: inline-block;
  margin-right: .4em;
  line-height: 1.3;
}

.p-staff-sec__list__item__info__kana {
  line-height: 1.3;
  font-size: 14px;
  color: #BBB;
  display: inline-block;
}

.p-doctor-sec__modal {
  padding: 83px 80px 23px 85px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  position: relative;
  box-sizing: border-box;

  @include mq(sp) {
    padding: 80px 10px 40px;
  }
}

.p-doctor-sec__modal__carousel__nav {
  box-sizing: border-box;
  position: absolute;
  height: 22px;
  width: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  top: 165px;
  justify-content: space-between;
  display: none;

  @include mq(sp) {
    display: flex;
  }
}

.p-doctor-sec__modal__carousel__nav__button {
  width: 11px;
  height: 22px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  @include svg-icon-carouselnext("001E62");
  background-position: center center;
  cursor: pointer;

  &.-next {}

  &.-prev {
    transform: rotate(-180deg);
  }
}

.p-doctor-sec__modal__profile__img {
  width: 180px;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  display: block;
  margin: 0 auto 12px;
}

.p-doctor-sec__modal__profile__info__name__wrap {
  margin-bottom: .3em;

  @include mq(sp) {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-doctor-sec__modal__profile__info__name {
  font-size: 20px;
  font-weight: $weight-medium;
  margin-top: .3em;
}

.p-doctor-sec__modal__profile__info__position {
  font-size: 14px;
  line-height: 1.5;
}

.p-doctor-sec__modal__profile__info__field {
  font-size: 14px;
}

.p-doctor-sec__modal__profile__info__kana {
  font-size: 14px;
  color: #bbb;
  margin-bottom: 34px;

  @include mq(sp) {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-doctor-sec__modal__profile__info__field__title {
  background: $point;
  color: $white;
  display: inline-block;
  padding-right: 4em;
  font-size: 13px;
  padding: .2em 2.8em .2em .2em;
  font-weight: $weight-medium;
  margin-bottom: .4em;
}

.p-doctor-sec__modal__profile__info__field__item {
  list-style: none;
  font-size: 14px;
  display: inline-block;
  color: $point;
  display: inline;
  line-height: 1.5;
}

.p-doctor-sec__modal__profile__info__field__item::after {
  content: '、';
}

.p-doctor-sec__modal__profile__info__field__item:last-child::after {
  content: '';
}

.p-doctor-sec__modal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  @include mq(sp) {
    flex-direction: column;
  }
}

.p-doctor-sec__modal__profile {
  width: 180px;
  position: relative;

  @include mq(sp) {
    width: 90%;
    margin: 0 auto 40px;
  }
}

.p-doctor-sec__modal__description {
  width: calc(100% - 220px);

  @include mq(sp) {
    width: 90%;
    margin: 0 auto;
  }
}

.p-doctor-sec__modal__description__title {
  width: 170px;
  font-size: rem(16);
  font-weight: $weight-bold;
  color: $main-txt;
  line-height: 1;
  padding-top: .43em;
  padding-left: 10px;
  padding-bottom: 0.6875em;
  position: relative;
}

.p-doctor-sec__modal__description__title::before {
  width: 1px;
  height: 2.75em;
  content: "";
  display: block;
  background-color: $main-txt;
  position: absolute;
  left: 0;
  top: 0;
}

.p-doctor-sec__modal__description__title::after {
  width: 100%;
  height: 1px;
  position: absolute;
  left: -.625em;
  bottom: 0;
  content: "";
  display: block;
  background-color: $main-txt;
}

.p-doctor-sec__modal__description__txt {
  line-height: 1.6875;
  word-break: break-all;

  p {
    line-height: 1.5;
  }

  p+p {
    margin-top: .5em;
  }
}

.p-doctor-sec__modal__description__biography,
.p-doctor-sec__modal__description__license {
  list-style: none;
}

.p-404__contents {
  text-align: center;
  padding-top: 260px;
  padding-bottom: 244px;

  @include mq(sp) {
    padding-top: 22vh;
    padding-bottom: 27vh;
  }
}

.p-404__ttl {
  font-family: $now-font;
  font-size: 40px;
  font-weight: $weight-medium;
  line-height: 1.75;

  @include mq(sp) {
    font-size: 30px;
  }
}

.p-gyouseki__list {
  @include mq(sp) {
    margin-left: 1.6em;
    margin-right: 1em;
  }
}

.c-title.-gyouseki+.p-gyouseki__list {
  padding: 2.8em 0 0;
}

.p-gyouseki__list__item .p-gyouseki__list {
  margin: .5em 0 0 0;
}

.p-gyouseki__list__item li.p-gyouseki__list__item {
  margin-bottom: .5em;
  position: relative;
  padding-left: 2em;
  list-style-type: none;
  counter-increment: cnt;

  &::before {
    position: absolute;
    left: 0;
    content: "(" counter(cnt) ") ";
  }
}



.p-gyouseki__btn__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @include mq(sp) {
    flex-wrap: nowrap;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-right: calc(((100vw - 100%) / 2) * -1);
    margin-left: calc(((100vw - 100%) / 2) * -1);
    padding-left: calc((100vw - 560px)/2);
  }

  @include mq(sp3) {
    padding-left: 20px;
  }
}

.p-gyouseki__btn__list::-webkit-scrollbar {
  display: none;
}

.p-gyouseki__btn__list__item {
  display: flex;
}

.p-gyouseki__btn__link {
  font-family: $now-font;
  line-height: 1;
  font-size: 14px;
  padding: 1em 1.7em;
  margin: 0 5px 5px 0;
  color: #fff;
  background-color: $color-iryo;
  border-radius: 50px;
  text-decoration: none;
  width: 6.5em;
  text-align: center;

  &.-active {
    background-color: #fff;
    color: $color-iryo;
    border: 1px solid $color-iryo;
    pointer-events: none;
  }
}